<div class="page-header">
  <h2>User <%= @user["name"]["givenName"] %></h2>
</div>

<div class="row">
  <div class="span3">
    <h5><i class="icon icon-globe"></i> Username </h5>
    <p><%= @user["userName"] %></p>
  </div>

  <div class="span3">
    <h5><i class="icon-ok"></i>Email</h5>
    <p><%=pp @user["emails"] %></p>
  </div>
  <div class="span3">
    <h5><i class="icon-bold"></i>Title</h5>
    <p><%= @user["title"] %>.</p>
  </div>
  <div class="span3">
    <h5><i class="icon icon-star"></i> Groups 4</h5>
    <p>
      <% @user["groups"].each do |group| %>
      <%= group["display"] %>
      <% end%>
    </p>
  </div>
</div>
<div class="row">
  <div class="span3">
    <h5><i class="icon icon-globe"></i> Active </h5>
    <p><%= @user["active"] %></p>
  </div>

  <div class="span3">
    <h5><i class="icon-ok"></i>Email</h5>
    <p><%=pp @user["emails"] %></p>
  </div>
  <div class="span3">
    <h5><i class="icon-bold"></i>Title</h5>
    <p><%= @user["title"] %>.</p>
  </div>
  <div class="span3">
    <h5><i class="icon icon-star"></i> Groups 4</h5>
    <p>
      <% @user["groups"].each do |group| %>
          <%= group["display"] %>
      <% end%>
    </p>
  </div>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              users_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              user_path(@user),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>